<section>
  <div class="flex-center flex-column">
    <h1 class="animated fadeIn mb-4">Material Design for Bootstrap (Angular)</h1>
    <h6 class="animated fadeIn mb-3">Start browsing <a href="https://mdbootstrap.com/angular">documentation</a>.</h6>
  </div>
</section>
<section>
  <h2>Buttons</h2>
  <button mdbBtn type="button" rounded="true" color="default" class="waves-light" mdbWavesEffect>Default</button>
</section>
<section>
  <h2>Badge</h2>
  <p>Hola <mdb-badge color="black">Hola</mdb-badge></p>
  <mdb-badge default="true">Default</mdb-badge>
  <mdb-badge primary="true">Primary</mdb-badge>
  <mdb-badge success="true">Success</mdb-badge>
  <mdb-badge info="true">Info</mdb-badge>
  <mdb-badge warning="true">Warning</mdb-badge>
  <mdb-badge danger="true">Danger</mdb-badge>
</section>
<section>
  <h2>Cards</h2>
  <mdb-card>
    <!--Card image-->
    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>
</section>
<section></section>
